.Form{
	input,

	input[type="radio"],
	input[type="checkbox"],
	input[type="password"],
	input[type="text"]{
		background:transparent;
		border:none;
		border-bottom: 1px solid #fff;
		outline: none !important;
		padding:10px;
		font-size:18px;
		width: 100%;
		margin-bottom: 30px;
	}
	input[type="submit"]{
		background:coral;
		border-right:3px solid #fff;
		padding:15px 30px;
		font-size: 12px;
		font-family: 'AvenirLT95Black';
		text-transform: uppercase;
		text-align: center;
		border-bottom:none;
		cursor: pointer;
		border-radius:6px;
		display: inline-block;
		max-width: 130px;

		&:hover{
			background:tomato;
		}
	}
	// Range slider
	output {
  		display: block;
	}
	.rangeslider{
	 	 background:#333;
	}
	.rangeslider__fill{
	 	 background:tomato;
	}
}