@charset "UTF-8";
/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -20px; }

.column--2-of-2, .column--3-of-3, .column--4-of-4, .column--5-of-5, .column--6-of-6, .column--8-of-8, .column--12-of-12 {
  width: 100%; }

.column--1-of-2, .column--2-of-4, .column--3-of-6, .column--4-of-8, .column--6-of-12 {
  width: 50%; }

.column--1-of-3, .column--2-of-6, .column--4-of-12 {
  width: 33.3333333333%; }

.column--2-of-3, .column--4-of-6, .column--8-of-12 {
  width: 66.6666666667%; }

.column--1-of-4, .column--2-of-8, .column--3-of-12 {
  width: 25%; }

.column--3-of-4, .column--6-of-8, .column--9-of-12 {
  width: 75%; }

.column--push-2-of-2, .column--push-3-of-3, .column--push-4-of-4, .column--push-5-of-5, .column--push-6-of-6, .column--push-8-of-8, .column--push-12-of-12 {
  margin-left: 100%; }

.column--push-1-of-2, .column--push-2-of-4, .column--push-3-of-6, .column--push-4-of-8, .column--push-6-of-12 {
  margin-left: 50%; }

.column--push-1-of-3, .column--push-2-of-6, .column--push-4-of-12 {
  margin-left: 33.3333333333%; }

.column--push-2-of-3, .column--push-4-of-6, .column--push-8-of-12 {
  margin-left: 66.6666666667%; }

.column--push-1-of-4, .column--push-2-of-8, .column--push-3-of-12 {
  margin-left: 25%; }

.column--push-3-of-4, .column--push-6-of-8, .column--push-9-of-12 {
  margin-left: 75%; }

.column--pull-2-of-2, .column--pull-3-of-3, .column--pull-4-of-4, .column--pull-5-of-5, .column--pull-6-of-6, .column--pull-8-of-8, .column--pull-12-of-12 {
  margin-left: -100%; }

.column--pull-1-of-2, .column--pull-2-of-4, .column--pull-3-of-6, .column--pull-4-of-8, .column--pull-6-of-12 {
  margin-left: -50%; }

.column--pull-1-of-3, .column--pull-2-of-6, .column--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.column--pull-2-of-3, .column--pull-4-of-6, .column--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.column--pull-1-of-4, .column--pull-2-of-8, .column--pull-3-of-12 {
  margin-left: -25%; }

.column--pull-3-of-4, .column--pull-6-of-8, .column--pull-9-of-12 {
  margin-left: -75%; }

.column--1-of-5 {
  width: 20%; }

.column--push-1-of-5 {
  margin-left: 20%; }

.column--pull-1-of-5 {
  margin-left: -20%; }

.column--2-of-5 {
  width: 40%; }

.column--push-2-of-5 {
  margin-left: 40%; }

.column--pull-2-of-5 {
  margin-left: -40%; }

.column--3-of-5 {
  width: 60%; }

.column--push-3-of-5 {
  margin-left: 60%; }

.column--pull-3-of-5 {
  margin-left: -60%; }

.column--4-of-5 {
  width: 80%; }

.column--push-4-of-5 {
  margin-left: 80%; }

.column--pull-4-of-5 {
  margin-left: -80%; }

.column--1-of-6 {
  width: 16.6666666667%; }

.column--push-1-of-6 {
  margin-left: 16.6666666667%; }

.column--pull-1-of-6 {
  margin-left: -16.6666666667%; }

.column--5-of-6 {
  width: 83.3333333333%; }

.column--push-5-of-6 {
  margin-left: 83.3333333333%; }

.column--pull-5-of-6 {
  margin-left: -83.3333333333%; }

.column--1-of-8 {
  width: 12.5%; }

.column--push-1-of-8 {
  margin-left: 12.5%; }

.column--pull-1-of-8 {
  margin-left: -12.5%; }

.column--3-of-8 {
  width: 37.5%; }

.column--push-3-of-8 {
  margin-left: 37.5%; }

.column--pull-3-of-8 {
  margin-left: -37.5%; }

.column--5-of-8 {
  width: 62.5%; }

.column--push-5-of-8 {
  margin-left: 62.5%; }

.column--pull-5-of-8 {
  margin-left: -62.5%; }

.column--7-of-8 {
  width: 87.5%; }

.column--push-7-of-8 {
  margin-left: 87.5%; }

.column--pull-7-of-8 {
  margin-left: -87.5%; }

.column--1-of-12 {
  width: 8.3333333333%; }

.column--push-1-of-12 {
  margin-left: 8.3333333333%; }

.column--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.column--2-of-12 {
  width: 16.6666666667%; }

.column--push-2-of-12 {
  margin-left: 16.6666666667%; }

.column--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.column--5-of-12 {
  width: 41.6666666667%; }

.column--push-5-of-12 {
  margin-left: 41.6666666667%; }

.column--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.column--7-of-12 {
  width: 58.3333333333%; }

.column--push-7-of-12 {
  margin-left: 58.3333333333%; }

.column--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.column--10-of-12 {
  width: 83.3333333333%; }

.column--push-10-of-12 {
  margin-left: 83.3333333333%; }

.column--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.column--11-of-12 {
  width: 91.6666666667%; }

.column--push-11-of-12 {
  margin-left: 91.6666666667%; }

.column--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.column {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 768px) {
    .column {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 768px) and (min-width: 480px) {
    .column[class*="column--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .column.column--m-1-of-2, .column.column--m-2-of-4 {
      width: 50%; }
    .column.column--m-1-of-3 {
      width: 33.3333333333%; }
    .column.column--m-2-of-3 {
      width: 66.6666666667%; }
    .column.column--m-1-of-4 {
      width: 25%; }
    .column.column--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .column[class*="column--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .column.column--s-1-of-2, .column.column--s-2-of-4 {
      width: 50%; }
    .column.column--s-1-of-3 {
      width: 33.3333333333%; }
    .column.column--s-2-of-3 {
      width: 66.6666666667%; }
    .column.column--s-1-of-4 {
      width: 25%; }
    .column.column--s-3-of-4 {
      width: 75%; } }

.column--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.column--d-first {
  float: left; }

.column--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .column {
    padding-left: 0; }
  .row--no-gutter .column--span-all {
    margin-left: 0;
    width: 100%; }

.column--ab {
  vertical-align: bottom; }

.column--am {
  vertical-align: middle; }

.container {
  max-width: 960px;
  margin: 50px auto; }

.box {
  background: #ccc;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px; }
  .box:hover {
    background: coral; }

.tall {
  height: 100px; }

.tinted {
  background: lightblue; }
