@charset "UTF-8";
/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */
img, object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto; }

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -20px; }

.column--2-of-2, .column--3-of-3, .column--4-of-4, .column--5-of-5, .column--6-of-6, .column--8-of-8, .column--12-of-12 {
  width: 100%; }

.column--1-of-2, .column--2-of-4, .column--3-of-6, .column--4-of-8, .column--6-of-12 {
  width: 50%; }

.column--1-of-3, .column--2-of-6, .column--4-of-12 {
  width: 33.3333333333%; }

.column--2-of-3, .column--4-of-6, .column--8-of-12 {
  width: 66.6666666667%; }

.column--1-of-4, .column--2-of-8, .column--3-of-12 {
  width: 25%; }

.column--3-of-4, .column--6-of-8, .column--9-of-12 {
  width: 75%; }

.column--push-2-of-2, .column--push-3-of-3, .column--push-4-of-4, .column--push-5-of-5, .column--push-6-of-6, .column--push-8-of-8, .column--push-12-of-12 {
  margin-left: 100%; }

.column--push-1-of-2, .column--push-2-of-4, .column--push-3-of-6, .column--push-4-of-8, .column--push-6-of-12 {
  margin-left: 50%; }

.column--push-1-of-3, .column--push-2-of-6, .column--push-4-of-12 {
  margin-left: 33.3333333333%; }

.column--push-2-of-3, .column--push-4-of-6, .column--push-8-of-12 {
  margin-left: 66.6666666667%; }

.column--push-1-of-4, .column--push-2-of-8, .column--push-3-of-12 {
  margin-left: 25%; }

.column--push-3-of-4, .column--push-6-of-8, .column--push-9-of-12 {
  margin-left: 75%; }

.column--pull-2-of-2, .column--pull-3-of-3, .column--pull-4-of-4, .column--pull-5-of-5, .column--pull-6-of-6, .column--pull-8-of-8, .column--pull-12-of-12 {
  margin-left: -100%; }

.column--pull-1-of-2, .column--pull-2-of-4, .column--pull-3-of-6, .column--pull-4-of-8, .column--pull-6-of-12 {
  margin-left: -50%; }

.column--pull-1-of-3, .column--pull-2-of-6, .column--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.column--pull-2-of-3, .column--pull-4-of-6, .column--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.column--pull-1-of-4, .column--pull-2-of-8, .column--pull-3-of-12 {
  margin-left: -25%; }

.column--pull-3-of-4, .column--pull-6-of-8, .column--pull-9-of-12 {
  margin-left: -75%; }

.column--1-of-5 {
  width: 20%; }

.column--push-1-of-5 {
  margin-left: 20%; }

.column--pull-1-of-5 {
  margin-left: -20%; }

.column--2-of-5 {
  width: 40%; }

.column--push-2-of-5 {
  margin-left: 40%; }

.column--pull-2-of-5 {
  margin-left: -40%; }

.column--3-of-5 {
  width: 60%; }

.column--push-3-of-5 {
  margin-left: 60%; }

.column--pull-3-of-5 {
  margin-left: -60%; }

.column--4-of-5 {
  width: 80%; }

.column--push-4-of-5 {
  margin-left: 80%; }

.column--pull-4-of-5 {
  margin-left: -80%; }

.column--1-of-6 {
  width: 16.6666666667%; }

.column--push-1-of-6 {
  margin-left: 16.6666666667%; }

.column--pull-1-of-6 {
  margin-left: -16.6666666667%; }

.column--5-of-6 {
  width: 83.3333333333%; }

.column--push-5-of-6 {
  margin-left: 83.3333333333%; }

.column--pull-5-of-6 {
  margin-left: -83.3333333333%; }

.column--1-of-8 {
  width: 12.5%; }

.column--push-1-of-8 {
  margin-left: 12.5%; }

.column--pull-1-of-8 {
  margin-left: -12.5%; }

.column--3-of-8 {
  width: 37.5%; }

.column--push-3-of-8 {
  margin-left: 37.5%; }

.column--pull-3-of-8 {
  margin-left: -37.5%; }

.column--5-of-8 {
  width: 62.5%; }

.column--push-5-of-8 {
  margin-left: 62.5%; }

.column--pull-5-of-8 {
  margin-left: -62.5%; }

.column--7-of-8 {
  width: 87.5%; }

.column--push-7-of-8 {
  margin-left: 87.5%; }

.column--pull-7-of-8 {
  margin-left: -87.5%; }

.column--1-of-12 {
  width: 8.3333333333%; }

.column--push-1-of-12 {
  margin-left: 8.3333333333%; }

.column--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.column--2-of-12 {
  width: 16.6666666667%; }

.column--push-2-of-12 {
  margin-left: 16.6666666667%; }

.column--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.column--5-of-12 {
  width: 41.6666666667%; }

.column--push-5-of-12 {
  margin-left: 41.6666666667%; }

.column--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.column--7-of-12 {
  width: 58.3333333333%; }

.column--push-7-of-12 {
  margin-left: 58.3333333333%; }

.column--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.column--10-of-12 {
  width: 83.3333333333%; }

.column--push-10-of-12 {
  margin-left: 83.3333333333%; }

.column--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.column--11-of-12 {
  width: 91.6666666667%; }

.column--push-11-of-12 {
  margin-left: 91.6666666667%; }

.column--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.column {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 768px) {
    .column {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 768px) and (min-width: 480px) {
    .column[class*="column--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .column.column--m-1-of-2, .column.column--m-2-of-4 {
      width: 50%; }
    .column.column--m-1-of-3 {
      width: 33.3333333333%; }
    .column.column--m-2-of-3 {
      width: 66.6666666667%; }
    .column.column--m-1-of-4 {
      width: 25%; }
    .column.column--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .column[class*="column--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .column.column--s-1-of-2, .column.column--s-2-of-4 {
      width: 50%; }
    .column.column--s-1-of-3 {
      width: 33.3333333333%; }
    .column.column--s-2-of-3 {
      width: 66.6666666667%; }
    .column.column--s-1-of-4 {
      width: 25%; }
    .column.column--s-3-of-4 {
      width: 75%; } }

.column--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.column--d-first {
  float: left; }

.column--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .column {
    padding-left: 0; }
  .row--no-gutter .column--span-all {
    margin-left: 0;
    width: 100%; }

.column--ab {
  vertical-align: bottom; }

.column--am {
  vertical-align: middle; }

@font-face {
  font-family: 'Avenir95Custom_Outerline';
  src: url("../fonts/Avenir/Avenir95Custom_Outerline.eot");
  src: url("../fonts/Avenir/Avenir95Custom_Outerline.eot") format("embedded-opentype"), url("../fonts/Avenir/Avenir95Custom_Outerline.woff2") format("woff2"), url("../fonts/Avenir/Avenir95Custom_Outerline.woff") format("woff"), url("../fonts/Avenir/Avenir95Custom_Outerline.ttf") format("truetype"), url("../fonts/Avenir/Avenir95Custom_Outerline.svg#Avenir95Custom_Outerline") format("svg"); }

@font-face {
  font-family: 'AvenirLT45Book';
  src: url("../fonts/Avenir/AvenirLT45Book.eot");
  src: url("../fonts/Avenir/AvenirLT45Book.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT45Book.woff2") format("woff2"), url("../fonts/Avenir/AvenirLT45Book.woff") format("woff"), url("../fonts/Avenir/AvenirLT45Book.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT45Book.svg#AvenirLT45Book") format("svg"); }

@font-face {
  font-family: 'AvenirLT45BookOblique';
  src: url("../fonts/Avenir/AvenirLT45BookOblique.eot");
  src: url("../fonts/Avenir/AvenirLT45BookOblique.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT45BookOblique.woff2") format("woff2"), url("../fonts/Avenir/AvenirLT45BookOblique.woff") format("woff"), url("../fonts/Avenir/AvenirLT45BookOblique.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT45BookOblique.svg#AvenirLT45BookOblique") format("svg"); }

@font-face {
  font-family: 'AvenirLT95Black';
  src: url("../fonts/Avenir/AvenirLT95Black.eot");
  src: url("../fonts/Avenir/AvenirLT95Black.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT95Black.woff2") format("woff2"), url("../fonts/Avenir/AvenirLT95Black.woff") format("woff"), url("../fonts/Avenir/AvenirLT95Black.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT95Black.svg#AvenirLT95Black") format("svg"); }

@font-face {
  font-family: 'AvenirMedium';
  src: url("../fonts/Avenir/AvenirMedium.eot");
  src: url("../fonts/Avenir/AvenirMedium.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirMedium.woff2") format("woff2"), url("../fonts/Avenir/AvenirMedium.woff") format("woff"), url("../fonts/Avenir/AvenirMedium.ttf") format("truetype"), url("../fonts/Avenir/AvenirMedium.svg#AvenirMedium") format("svg"); }

@font-face {
  font-family: 'AvenirMediumOblique';
  src: url("../fonts/Avenir/AvenirMediumOblique.eot");
  src: url("../fonts/Avenir/AvenirMediumOblique.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirMediumOblique.woff2") format("woff2"), url("../fonts/Avenir/AvenirMediumOblique.woff") format("woff"), url("../fonts/Avenir/AvenirMediumOblique.ttf") format("truetype"), url("../fonts/Avenir/AvenirMediumOblique.svg#AvenirMediumOblique") format("svg"); }

@font-face {
  font-family: 'AvenirLT65Medium';
  src: url("../fonts/Avenir/AvenirLT65Medium.eot");
  src: url("../fonts/Avenir/AvenirLT65Medium.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT65Medium.woff2") format("woff2"), url("../fonts/Avenir/AvenirLT65Medium.woff") format("woff"), url("../fonts/Avenir/AvenirLT65Medium.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT65Medium.svg#AvenirLT65Medium") format("svg"); }

@font-face {
  font-family: 'AvenirLT65MediumOblique';
  src: url("../fonts/Avenir/AvenirLT65MediumOblique.eot");
  src: url("../fonts/Avenir/AvenirLT65MediumOblique.eot") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT65MediumOblique.woff2") format("woff2"), url("../fonts/Avenir/AvenirLT65MediumOblique.woff") format("woff"), url("../fonts/Avenir/AvenirLT65MediumOblique.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT65MediumOblique.svg#AvenirLT65MediumOblique") format("svg"); }

body {
  font-family: 'AvenirMedium';
  font-size: 16px;
  color: #646464; }

h1 {
  font-family: 'AvenirLT95Black';
  font-size: 30px;
  padding-bottom: 10px;
  letter-spacing: -1px; }

h3 {
  font-family: 'AvenirLT95Black';
  padding-bottom: 15px;
  padding-left: 5px; }

.container {
  max-width: 1280px;
  margin: 0px auto; }

.box {
  width: 100%;
  padding: 20px;
  min-height: 50px;
  margin-bottom: 20px; }

.tall {
  height: 100px; }

.tinted {
  background: lightblue; }

.tomato {
  color: tomato;
  font-family: 'AvenirLT95Black'; }

.hard-grey .Form {
  margin-top: 20px;
  padding: 20px; }

.Form h3 {
  border-bottom: 1px solid tomato;
  margin-bottom: 20px;
  color: tomato;
  font-size: 18px; }

.Form textarea {
  border: 1px solid tomato;
  background: #f2f2f2;
  min-height: 150px;
  width: 100%;
  padding: 0px;
  text-align: left !important;
  padding: 10px;
  font-size: 16px;
  color: #333;
  outline: 0px;
  margin-bottom: 20px; }

.Form input,
.Form a[type="radio"],
.Form a[type="checkbox"],
.Form a[type="password"],
.Form a[type="text"],
.Form input[type="radio"],
.Form input[type="checkbox"],
.Form input[type="password"],
.Form input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none !important;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 30px; }

.Form button[type="submit"],
.Form a[type="submit"],
.Form input[type="submit"] {
  background: tomato;
  border: 0px;
  height: 50px;
  border-right: 5px solid #646464;
  border-bottom: 2px solid #646464;
  padding: 15px 30px;
  font-size: 12px;
  font-family: 'AvenirLT95Black';
  text-transform: uppercase;
  text-align: center;
  border-bottom: none;
  cursor: pointer;
  border-radius: 6px;
  display: inline-block;
  max-width: 130px;
  margin-bottom: 5px;
  color: #fff; }
  .Form button[type="submit"]:hover,
  .Form a[type="submit"]:hover,
  .Form input[type="submit"]:hover {
    background: coral;
    border-right: 3px solid tomato; }

.Form output {
  display: block; }

.Form .rangeslider {
  background: #333; }

.Form .rangeslider__fill {
  background: tomato; }

.Header {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px; }
  .Header .logo {
    display: inline-block;
    float: left;
    padding-top: 18px;
    padding-left: 20px; }
    .Header .logo a {
      text-decoration: none;
      font-family: 'AvenirLT95Black';
      color: tomato;
      cursor: pointer; }
      .Header .logo a:hover {
        color: #646464; }

@media (max-width: 768px) {
  Header {
    margin-bottom: 20px !important; } }

.nav-main {
  height: 50px;
  float: right; }

nav ul {
  margin: 0;
  padding: auto; }

.nav-link {
  list-style: none;
  float: left;
  /*float: left;*/
  /*gets block elements to slide next to each other*/ }

.profile {
  background-color: tomato;
  height: 50px;
  min-width: 150px;
  border-right: #646464 solid 5px; }
  .profile .profile-pic {
    padding-top: 4px;
    padding-left: 10px; }
    .profile .profile-pic .profile-bg {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: #f2f2f2;
      border: 5px solid #646464;
      display: inline-block; }
    .profile .profile-pic .profile-bg > img {
      border-radius: 50px; }
    .profile .profile-pic .profile-name {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      padding: 0px 10px 0 2px;
      line-height: 20px;
      margin-top: -32px;
      font-family: 'AvenirLT95Black';
      font-size: 12px;
      cursor: pointer; }
      .profile .profile-pic .profile-name :hover {
        color: red; }

nav ul li a {
  text-decoration: none;
  display: inline-block;
  /*Makes the whole link area clickable (not just text), & allows specification of padding, height, width, margins, etc.*/
  padding: 14px 43px;
  /*adds space between links*/
  color: #333;
  height: 50px; }

nav ul li .nav-item:hover {
  background-color: #dbdbdb;
  color: #fff;
  font-weight: bold;
  height: 50px; }

nav ul li .nav-item:active {
  text-decoration: none; }

/*style the dropdown menus */
.nav-content {
  position: absolute;
  /*this positions the drop menu below the parent element, instead of alongside it*/
  top: 50px;
  float: none;
  z-index: 99;
  width: 320px;
  margin-left: -194px;
  overflow: hidden;
  /* just in case any content is larger than the space*/
  background-color: #dbdbdb;
  max-height: 0;
  /*this vanishes the dropdown menus until the user clicks*/ }

.nav-content a:hover {
  text-decoration: underline; }

.nav-sub {
  padding: 20px; }

.nav-sub ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.nav-sub ul li a {
  display: inline-block;
  /*allows us to add padding*/
  padding: 5px 0; }

.nav-item {
  border-left: 1px solid #ccc; }

.nav-item:last-child {
  border-right: 1px solid #ccc; }

.nav-item:focus {
  background-color: #dbdbdb;
  border-top: 3px solid tomato; }

.nav-item:focus ~ .nav-content {
  max-height: 270px;
  /*displays dropdown menu on click*/
  display: block;
  z-index: 9999;
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: max-height 0.1s ease-in;
  -moz-transition: max-height 0.1s ease-in;
  transition: max-height 0.1s ease-in; }
  .nav-item:focus ~ .nav-content .nav-sub {
    display: block !important;
    z-index: 9999; }

@media (max-width: 768px) {
  /*style the dropdown menus */
  .nav-content {
    position: absolute;
    /*this positions the drop menu below the parent element, instead of alongside it*/
    top: 50px;
    float: none;
    z-index: 99;
    width: 320px;
    margin-left: -100px;
    overflow: hidden;
    /* just in case any content is larger than the space*/
    background-color: #dbdbdb; } }

.comments {
  padding-left: 5px; }
  .comments .comment {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    position: relative; }
    .comments .comment .username {
      background: #646464;
      display: inline-block;
      padding: 6px;
      color: #fff;
      border-radius: 8px;
      margin-bottom: 20px; }
    .comments .comment p {
      padding: 10px; }
    .comments .comment span {
      position: absolute;
      top: 13px;
      right: 0px;
      font-size: 11px;
      letter-spacing: 1.6px; }
