.Header{
	display:block;
	width:100%;
	height:50px;
	background-color:#f2f2f2;
	border-bottom:1px solid #ccc;
	margin-bottom:50px;

	.logo{
		display: inline-block;
		float:left;
		padding-top: 18px;
		padding-left:20px;
		a{
			text-decoration: none;
			font-family: 'AvenirLT95Black';
			color: tomato;
			cursor: pointer;
			&:hover{
				color:#646464;
			}
		}
	}
}
@media (max-width: 768px) {
  	Header{
		margin-bottom:20px !important;
	}
}