// I had to make a small modification to the HTML to get the 
// :focus pseudo selector to work in my browser (Safari 7.1.3). 
// Adding the "tabindex" parameter to each nav-item took care of it for me.  
// For example: <a href="#" class="nav-item" tabindex="1">Amazing</a>﻿

.nav-main {
   height: 50px; 
   float: right;
}

nav ul {
   margin: 0;
   padding: auto;
}

.nav-link {
   list-style: none; 
   float: left; /*float: left;*//*gets block elements to slide next to each other*/

  
}
.profile{
   background-color:tomato;
   height: 50px;
   min-width: 150px;
   border-right:#646464 solid 5px;
  .profile-pic{
    padding-top:4px;
    padding-left:10px;
    
    .profile-bg{
      width: 42px;
      height: 42px;
      border-radius:50%;
      background:#f2f2f2;
      border:5px solid #646464;
      display: inline-block;
    }
    .profile-bg > img{
      border-radius:50px;
    }
    .profile-name{
      color:#fff;
      display: inline-block;
      vertical-align: middle;
      padding:0px 10px 0 2px;
      line-height: 20px;
      margin-top: -32px;
      font-family: 'AvenirLT95Black';
      font-size: 12px;
      cursor: pointer;
      :hover{
        color:red;
      }
    }
  }
}

nav ul li a {
   text-decoration: none;
   display: inline-block; /*Makes the whole link area clickable (not just text), & allows specification of padding, height, width, margins, etc.*/
   padding: 14px 43px;  /*adds space between links*/
   color: #333;
   height: 50px; 
}

nav ul li .nav-item:hover {
   background-color: #dbdbdb;
   color: #fff;
   font-weight: bold;
    height: 50px; 
}

nav ul li .nav-item:active {

   text-decoration: none;
}

/*style the dropdown menus */
.nav-content {
   position: absolute; /*this positions the drop menu below the parent element, instead of alongside it*/
   top: 48px;
   display: block;
   float: none;
   z-index: 99;
   width:320px;
   margin-left:-192px;
   overflow: hidden; /* just in case any content is larger than the space*/
   background-color: #dbdbdb;
   border-bottom: 1px solid #ccc;
   border-right: 1px solid #ccc;
   border-left: 1px solid #ccc;
    border-top:0;

   // COLORS
 


   max-height:0; /*this vanishes the dropdown menus until the user clicks*/
}

.nav-content a:hover {
   text-decoration:underline;  
}

.nav-sub {
   padding: 20px;
}

.nav-sub ul {
   padding: 0;
   margin: 0;
   list-style-type:none;
}

.nav-sub ul li a {
   display:inline-block; /*allows us to add padding*/
   padding:5px 0;
}
.nav-item{
    border-left:1px solid #ccc;
}
.nav-item:last-child{ border-right:1px solid #ccc;}
.nav-item:focus {
    background-color: #dbdbdb;
    border-top:3px solid tomato;
}

.nav-item:focus ~ .nav-content {
   max-height:270px; /*displays dropdown menu on click*/
   display: block;
    z-index: 9999;
    border-radius:0px 0px 10px 10px;
   -webkit-transition:max-height 0.1s ease-in;
   -moz-transition:max-height 0.1s ease-in; 
    transition:max-height 0.1s ease-in;
    
   .nav-sub{

    display: block !important;
    z-index: 9999;

   }
}


@media (max-width: 768px) {
   /*style the dropdown menus */
.nav-content {
     position: absolute; /*this positions the drop menu below the parent element, instead of alongside it*/
     top: 50px;
     float: none;
     display: block;
     z-index: 99;
     width:320px;
      margin-left:-100px;
     overflow: hidden; /* just in case any content is larger than the space*/
     background-color: #dbdbdb;
  }
}


